$background: #ffffff;
$color: #008d4a;

$primary: #603529;
$secondary: #AC887D;
$tertiary: #84A2C2;
//$quaternary: #dcccb5;

$font1: 'Lora', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font2: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;

$font-small: 1rem;
$font-medium: 16px;
$font-large: 18px;