@import 'variables';
@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import 'mixins';

/*
 * Globals
 */

/* Links */
a {
	color: #603529;
	text-decoration: underline;

	&:hover {
		color: #AC887D;
	}
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
	color: #333;
	text-shadow: none; /* Prevent inheritance from `body` */
	background-color: #fff;
	border: .05rem solid #fff;
}


/*
 * Base structure
 */

html,
body {
	height: 100%;
	font-family: $font-text;
}

body {
	color: #000000;
	font-size: 1rem;
	padding-top: 56px;

	@include media-breakpoint-up(sm) {
		font-size: 1.1rem;

		&.index {
			padding-top: 0;
		}
	}

	@include media-breakpoint-up(xl) {
		font-size: 1.2rem;
	}
}

.cover-container {
	background: url(../img/090619.jpg) center center;
	background-size: cover;
}


#mainNav {
	background-color: #ffffff;
	box-shadow: rgba(0,0,0,0.3) 0 2px 4px;
	font-family: $font-text;
	font-size: 1rem;
	margin-bottom: 0;
	padding: 0;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 10;

	a {
		color: #000;
		text-decoration: none;
		-webkit-transition: background .1s ease-in-out;
		-moz-transition: background .1s ease-in-out;
		transition: background .1s ease-in-out;
		&:hover,
		&:focus {
			background: #603529;
			color: #fff;
			text-decoration: none;
		}
	}

	.navbar-brand {
		font-weight: 700;
		margin-left: 15px;
		padding-bottom: 4px;
		padding-top: 4px;

		&:hover {
			color: #000 !important;
			background: transparent;
		}
	}

	.navbar-toggler {
		font-size: $font-small;
		padding: 11px;
		color: #000;
		border: none;
		margin: 10px 15px 10px 0;
	}

	@include media-breakpoint-up(md) {
		background: transparent;
		box-shadow: none;
		font-size: 1.5rem;
		font-weight: $font-weight-bold;
		margin-top: 1.5rem;
		padding: 4px 0;
		position: absolute;
		-webkit-transition: background .25s ease-in-out, padding .25s ease-in-out;
		-moz-transition: background .25s ease-in-out, padding .25s ease-in-out;
		transition: background .25s ease-in-out, padding .25s ease-in-out;
		width: 100%;

		&.navbar-shrink {
			margin-top: 0;
		}

		.navbar-brand {
			display: none;
		}

		.navbar-nav {
			margin: auto;
		}
		
		a {
			color: white;
			&:focus,
			&:hover {
				text-decoration: none;
			}
		}

		.nav-link.active {
			color: #fff;
			outline: none;
			background-color: #AC887D;
			&:hover,
			&:focus {
				background-color: #603529;
			}
		}
	}

	&.navbar-shrink {
		background: white;
		position: fixed;
		z-index: 10;

		@include media-breakpoint-up(md) {
			box-shadow: rgba(0,0,0,0.3) 0 2px 4px;
			font-size: 1rem;
			font-weight: $font-weight-normal;
		}

		a {
			color: black;
			&:hover,
			&:focus {
				color: white;
				text-decoration: none;
			}
		}

		.navbar-brand {
			display: block;
		}

		.navbar-nav {
			background-color: transparent;
		}
	}

	.navbar-collapse {
		border-top: 1px solid #DEDEDE;
		@include media-breakpoint-up(md) {
			border: 0;
		}
	}
}

.intro-container {
	bottom: 3%;
	position: absolute;
}


/*
 * Cover
 */
.cover {
	padding: 0 1.5rem;
}
.cover .btn-lg {
	padding: .75rem 1.25rem;
	font-weight: 700;
}

.cover-container {
	color: #ffffff;
	font-size: 1.2rem;

	@include media-breakpoint-up(md) {
		main {
			.row > * {
				white-space: nowrap;
			}
		}
	}
}


h1 {
	color: #ffffff;
	font-family: $font-heading;
	font-size: 5rem;
	line-height: 1;
	margin-bottom: -1rem;
	text-align: center;

	.h1-small {
		font-family: $font-text;
		font-size: 1.5rem;
	}

	hr {
		border: none;
		border-bottom: 1px solid #ffffff;
		margin-bottom: 18px;
		margin-top: -5px;
	}
}

h2 {
	font-family: $font-heading;
	font-size: 2.5rem;

	@include media-breakpoint-up(md) {
		font-size: 3rem;
	}
}


p {
	&.quote {
		font-size: 1rem;
		font-style: italic;
		text-align: center;
	}
}

.dropdown {
	position: static;

	.dropdown-menu {
		width: 100%;
	}
}

@include media-breakpoint-up(md) {
	body.index .nav-scroller {
			margin-top: 1.5rem;
	}
}

.nav-scroller {
	//box-shadow: 0 0 20px rgba(0,0,0,1);
	//background: #603529;
	background: rgba(132, 162, 194, .7);
	font-family: $font-text;
	font-size: 1rem;
	position: relative;
	z-index: 2;
	height: 2.5rem;
	overflow-y: hidden;

	@include media-breakpoint-up(sm) {
		box-shadow: none;
		letter-spacing: 0.15rem;
		position: absolute;
		top: 56px;
		width: 100%;
	}

	.nav {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: nowrap;
		flex-wrap: nowrap;
		padding-bottom: 1rem;
		margin-top: -1px;
		overflow-x: auto;
		color: rgba(255, 255, 255, .75);
		text-align: center;
		white-space: nowrap;
		-webkit-overflow-scrolling: touch;

		.nav-table {
			display: table;
			width:100%;
			margin: 0 auto;

			@include media-breakpoint-up(sm) {
				width: 90%;
			}

			@include media-breakpoint-up(md) {
				width: 80%;
			}

			@include media-breakpoint-up(lg) {
				width: 60%;
			}

			&> div {
				display: table-row;

				&> div {
					display: table-cell;
					width: 20%;
				}
			}
		}

		hr {
			display: inline-block;
			border: none;
			margin: 0;
			width: 100%;
			vertical-align: middle;
			border-bottom: 1px solid white;
		}

		.nav-link {
			padding-top: .6rem;
		}
	}

	a {
		color: #fff;
		text-decoration: none;
		&:focus {
			text-decoration: none;
		}
		&:hover {
			font-weight: bold;
		}

		&.active {
			text-decoration: underline;
		}
	}

}

section {
	padding: 3rem 0;

	&#about {
		padding-top: 0;
	}

	&#contact {
		padding-bottom: 1rem;
	}

}

.card {
	border: 0;
	//border-radius: 0;

	.card-img-top {
		//border-radius: 0;
	}

	a {
		text-decoration: none;

		.rounded-circle {
			//filter: drop-shadow(1px 1px 1px rgba(0,0,0,.2));
		}

		&:hover {
			text-decoration: underline;

			.rounded-circle {
				//filter: drop-shadow(0 0 1px rgba(0,0,0,.1));
			}
		}
	}

	.card-body {
		//background: #603529;
		//color: #603529;
		padding-bottom: 0.5rem;

		@include media-breakpoint-up(sm) {
			padding-left: 0.75rem;
			padding-right: 0.75rem;
		}
	}
}

#products {
	padding-top: 5rem;

	@mixin flipItemHeight {
		height: 480px;
		width: 100%;
	}

	.flip-container {
		@include flipItemHeight;
		perspective: 1000px;
		position: absolute;
		top: 0;
		transform-style: preserve-3d;

		.flipper {
			position: relative;
			transition: 0.6s;
			transform-style: preserve-3d;

			.front,
			.back {
				@include flipItemHeight;
				backface-visibility: hidden;
				left: 0;
				position: absolute;
				top: 0;
				transition: 0.6s;
				transform-style: preserve-3d;

				&.back {
					transform: rotateY(-180deg);
				}

				&.front {
					transform: rotateY(0deg);
					z-index: 2;
				}
			}
		}

		&:hover,
		&.initial {
			.flipper {
				.back {
					transform: rotateY(0deg);
				}
				.front {
					transform: rotateY(180deg);
				}
			}
		}
	}
}

#about, #workshop {
	& img {

		@include media-breakpoint-up(sm) {
			margin: -40px 0;
		}
		@include media-breakpoint-up(md) {
			margin: 0;
		}
	}
}

#contact {

	form {

		.form-group {
			&>*:first-child {
				margin: auto;
			}
		}

		input, textarea {
			border-radius: 0;
		}

		label {
			margin-bottom: 0;

			&.required {
				font-weight: $font-weight-bold;
			}
		}

		.status-message {
			display: none;
		}

		.form-men {
			height: 1px;
			overflow: hidden;
			position: absolute;
		}

		.loading {
			opacity: 0;
		}
	}

	.fa {
		font-size: 0.8rem;
	}

	.contact-info {
		text-align: center;

		@include media-breakpoint-up(md) {
			text-align: left;
		}
	}
}

footer {
	background: $tertiary;
	color: white;

	a {
		color: white;

		&:hover {
			color: black;
		}
	}
}

.products {

	h1 {
		bottom: -2px;
		height: 1px;
		overflow: hidden;
		position: absolute;
		top: -2px;
		width: 1px;
	}

	h2 {
		border-bottom: 1px solid #000000;
	}

	.product-images {
		.product-images-more {
			a {
				border: 1px solid #000000;
				text-decoration: none;
			}
		}

		.product-image-thumbnail {
			padding-bottom: 15px;
			padding-top: 15px;

			a {
				cursor: default;
				display: block;
				transition: background 1s ease-in-out;

				@include media-breakpoint-up(sm) {
					cursor: pointer;

					&:hover {
						outline: 2px solid #603529;
					}
				}
			}

			&.active {
				a {
					outline: 2px solid #603529;
					img {
						opacity: .5;
					}
				}
			}
		}
	}

}

