<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center mt-4 mb-4">
				<a href="#imprint" role="button" data-toggle="collapse">Impressum</a> | <a href="#privacy" role="button" data-toggle="collapse">Datenschutzerklärung</a> | <a href="#agb" role="button" data-toggle="collapse">AGB</a>
			</div>
			<div id="imprint" class="collapse col-12 mb-4">
				{% include 'footer-imprint.html.twig' %}
			</div>
			<div id="privacy" class="collapse col-12 mb-4">
				{% include 'footer-privacy.html.twig' %}
			</div>
			<div id="agb" class="collapse col-12">
				{% include 'footer-agb.html.twig' %}
			</div>
		</div>
	</div>
</footer>
