<h2 class="text-center">AGB</h2>

<h3>Preise</h3>
<p>Die genannten Preise enthalten die gesetzliche Mehrwertsteuer. Bei Versand ist per Vorkasse zuzüglich Porto zu bezahlen. Bei Selbstabholung ist, soweit nicht anders vereinbart, sofort und ohne Abzüge zu bezahlen.</p>

<h3>Kosten für Sattelanproben</h3>
<p>Für eine Überprüfung, Beurteilung und Beratung eines Sattels fallen € 40,00 an.<br>
	Anfahrtskosten € 0,45 pro km<br>
	Bei Sattelanproben für eine Neuanpassung fällt eine Gebühr von € 150,00 an, die jedoch beim Kauf eines neuen Sattels gutgeschrieben wird.</p>

<h3>Reklamationen</h3>
<p>Leder ist ein Naturprodukt. Narbenunreinheiten und kleine Fehler beweisen die Echtheit des Materials. Da es sich um Einzelanfertigungen handelt stellen kleine Abweichungen der abgebildeten Ware in Farbe und Design  keine Mängel da.<br>
	Mängel sind innerhalb von 14 Tagen nach Erhalt der Ware schriftlich anzuzeigen. Auch Transportschäden.<br>
	Bei Verkauf eines Neusattels und Anpassung eines bereits vorhandenen Sattels übernimmt Sattlerei Anouk Wächter nur Gewährleistung für die  momentane Beschaffenheit des Pferdes. Pferde können sich wesentlich verändern , z.B. Trainings und Ausbildungszustand, Fütterung, Alter , Krankheiten etc. Aus Kulanzgründen vorgenommene Änderungen des Sattels stellen keine Nachbesserungen dar.<br>
	Durch äusserliche Einflüsse wie Hitze ,Wasser, hohe Luftfeuchtigkeit kann Leder zu Schaden kommen und brüchig werden. Dies gilt vor allem für Halsbänder und Leinen. Deshalb empfehle ich, die Halsbänder und Leinen dem Temperament, der Leinenführigkeit und dem Gewicht und des Hundes anzupassen und diese regelmäßig auf Unversehrtheit zu kontrollieren.</p>

<h3>Eigentumsvorbehalt</h3>
<p>Die Ware bleibt bis zur vollständigen Bezahlung Eigentum der Sattlerei Anouk Wächter. Bei Zahlungsverzug oder vertragswiedrigen Verhalten ist die Sattlerei Anouk Wächter berechtigt, den Liefergegenstand zurückzunehmen. Der Kunde ist zur Herausgabe verpflichtet.</p>

<h3>Gewährleistung</h3>
<p>Die Gewährleistung erfolgt nach den gesetzlichen Bestimmungen.</p>

<h3>Erfüllungsort und Gerichtsstand</h3>
<p>Der Gerichtsstand ist 97486 Königsberg und dessen zuständiges Gericht.</p>

<h3>Salvatorische Klausel</h3>
<p>Die Nichtigkeit oder Unwirksamkeit einzelner Bestimmungendiese AGB berührt nicht die Gültigkeit der übrigen Bestimmungen. Nichtige oder unwirksame Bedingungen werden duch die gesetzlichen Bestimmungen ersetzt.</p>

<h3>Kontakt</h3>
<p>Sattlerei Anouk Wächter<br>
	Inh.: Anouk Wächter<br>
	Kirchgasse 6<br>
	97486 Königsberg<br>
	Tel.: 015164324829<br>
	info@sattlerei-anouk-waechter.de</p>
