<h2 class="text-center">Impressum</h2>

<h3>Verantwortlich gemäß § 5 TMG</h3>

<div class="mb-2">
	Anouk Wächter<br>
	Kirchgasse 6<br>
	97486 Königsberg i.Bay.
</div>

<div class="mb-2">
	<i class="fa fa-envelope-o mr-1" aria-hidden="true"></i>info@sattlerei-anouk-waechter.de<br>
	<i class="fa fa-phone mr-1" aria-hidden="true"></i>01234-789456
</div>

<div class="mb-2">
	Steuernummer: 259/284/00185<br>
	Umsatzsteuer-Identifikationsnummer: DE154610295
</div>

<div class="mb-2">
	Fotos: <a href="http://www.giel-bildwelten.de/" target="_blank">Oliver Giel</a>
</div>
