<h2 class="text-center">Datenschutz&shy;erklärung</h2>

<p>Die persönlichen Daten, die durch den Besuch der Internetseite und durch das Tätigen einer Bestellung erfasst werden, unterliegen einem besonderen Schutz. Diese Erklärung klärt Sie über den Zweck der Datenerfassung und Ihre diesbezüglichen Rechte auf.</p>

<h3>Verantwortlichkeit</h3>
<p>Verantwortlich für die Verarbeitung Ihrer persönlichen Daten ist Anouk Wächter, Kirchgasse 6, 97486 Königsberg i.Bay., E-Mail: info@sattlerei-anouk-wächter.de.</p>
<h3>Zweck der Verarbeitung</h3>
<p>Beim Besuch und Navigieren durch die Internetseite wird Ihre IP-Adresse für statistische Zwecke erhoben. Die IP-Adresse wird in keiner Weise mit anderen persönlichen Daten verbunden.<br>
	Um die vertraglichen Maßnahmen einer Bestellung durchführen zu können – insbesondere für Rechnungsstellung und Versand – werden Ihr voller Namen und Ihre Postanschrift  benötigt. Ohne diese Angaben kann kein Kaufvertrag geschlossen werden. Da Bestellung nur per E-Mail angenommen werden, wird darüber hinaus Ihre E-Mail-Adresse zur Bestellbestätigung und Klärung eventueller Rückfragen gespeichert.</p>
<h3>Weitergabe Ihrer Daten</h3>
<p>Ihre werden Daten nur an Dritte weitergegeben, wenn hierzu aufgrund geltenden Rechts eine Berechtigung oder Verpflichtung besteht, auf Ihren expliziten Wunsch oder nach Rücksprache mit Ihnen.<br>
	Auf dieser Seite ist eine Karte von Google Maps eingebunden. Hierdurch werden Daten, insbesondere Ihre IP-Adresse, an Google übertragen. Siehe hierzu die <a href="https://policies.google.com/privacy?hl=de">Datenschutzerklärung von Google</a>.
</p>
<h3>Speicherdauer</h3>
<p>Eine Löschung Ihre persönlichen Daten erfolgt gemäß gesetzlicher Aufbewahrungsfrist nach 10 Jahren.</p>
<h3>Recht auf Auskunft, Berichtigung, Löschung, Einschränkung und Übertragbarkeit</h3>
<p>Sie haben das Recht, Auskunft darüber zu erhalten, welche Daten über Sie bei uns gespeichert sind und zu welchem Zweck die Speicherung erfolgt. Darüber hinaus sind Sie berechtigt, unrichtige Daten korrigieren oder löschen zu lassen, sofern die Speicherung nicht mehr erforderlich ist.<br>
	Davon abgesehen können Sie der Verarbeitung Ihrer persönlichen Daten für Zwecke abseits der Vertragserfüllung widersprechen.<br>
	Sie haben das Recht, die über Sie gespeicherten Daten in einem maschinenlesbaren Format zu erhalten.<br>
<h3>Recht auf Beschwerde</h3>
<p>Sie haben das Recht, sich bei einer Datenschutzaufsichtsbehörde zu beschweren.</p>
