<!doctype html>
<html lang="de">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="{% block description %}Lederwaren handgefertigt von der Sattlermeisterin: Gürtel, Taschen und Accessoires für Menschen, Sattel und Geschirr für Pferde, Leinen und Halsbänder für Hunde{% endblock %}">

	<title>{% block title %}Sattlerei Anouk Wächter – Königsberg i.Bay.{% endblock %}</title>

	<link href="dist/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href="dist/vendor/typeface-alex-brush/index.css" rel="stylesheet" type="text/css">
	<link href="dist/vendor/typeface-raleway/index.css" rel="stylesheet" type="text/css">
	<link href="dist/main.css" rel="stylesheet">
</head>

<body id="page-top" class="{{ exe }}"{{ is_index ? ' data-spy="scroll" data-target="#mainNav" data-offset="200"' }}>

	{% include 'nav.html.twig' %}
	{% block content %}{% endblock %}
	{% include 'footer.html.twig' %}

	<script src="dist/conditional-polyfill.js"></script>
	<script src="dist/main.js"></script>

</body>
</html>
