{% extends 'html.html.twig' %}

{% import 'products.html.twig' as products %}

{% block title %}{{ products.title('Lederwaren für Hunde') }}{% endblock %}

{% block description %}Individuelle Leinen und Halsbänder, von Meisterhand gefertigt – in bunten Farben, exklusiv mit Swarovski-Strass oder mit aufwendiger Punzierung.{% endblock %}

{% block content %}

<div class="products">

	<h1>Produkte für Hunde</h1>

	{{ products.set('hunde', 'die_bunten', 'Die Bunten', images) }}
	{{ products.set('hunde', 'die_exclusiven', 'Die Exclusiven', images, 'left') }}
	{{ products.set('hunde', 'die_punzierten', 'Die Punzierten', images) }}

</div>

{% endblock %}
