<p>
	Blankleder vegetabil gegerbt, veredelt mit aufwendigen Punzierungen und edlem Swarovski-Strass, ist der Gürtel zudem mit weichem Polsterleder unterlegt.
</p>
<p>
	Grundfarbe des Leders: natur (dunkelt nach), hellbraun, dunkelbraun, schwarz.<br>
	Lieferbar in verschiedensten Punzierungen.<br>
	Strass in weiss, topaz oder türkis.<br>
	Polsterleder schwarz, creme, grau, rot, türkis, cognac oder grün.<br>
	Beschläge silber oder messing.
</p>
<p>
	€ 139,00 inkl. MwSt zzgl. Porto
</p>
