<p>
	Gedoppeltes Rindsleder in Nubukoptik. Die angeschliffene Oberfläche wird mit Fetten und Ölen wiederstandsfähig gemacht und gibt dem Leder einen velourartigen Griff. Erhältlich in 7 Farben: schwarz, braun, grau, grün, blau, rot und orange oder kombinierbar.
</p>
<p>
	€ 89,00 inkl. MwSt zzgl. Porto.
</p>
