{% extends 'html.html.twig' %}

{% import 'products.html.twig' as products %}

{% block title %}{{ products.title('Lederwaren für Menschen') }}{% endblock %}

{% block description %}Individuelle Gürtel, Handtaschen, Ketten, Armbänder und weitere außergewöhnliche Accessoires – von Meisterhand gefertigt.{% endblock %}

{% block content %}

<div class="products">

	<h1>Produkte für Menschen</h1>

	<div class="container products-lead">

		<h2>Gürtel</h2>

		<p class="lead">
			Gürtel in verschiedenen Ausführungen jeweils auch kombinierbar mit Leinen, Halsbändern oder Geschirren für Ihren Hund.<br>
			Auf individuelle Länge gefertigt (5-cm-Schritten), Schnallen in Silber und Messing erhältlich.
		</p>
	</div>

	{{ products.set('menschen', 'die_bunten', 'Die Bunten', images) }}
	{{ products.set('menschen', 'die_exclusiven', 'Die Exclusiven', images, 'left') }}

	<hr class="separator">

	<div class="container products-lead">
		<h2>Taschen</h2>
	</div>

	{{ products.set('menschen', 'jagdtasche', 'Jagdtasche', images) }}

</div>

{% endblock %}
