<p>
	Nach Vorbildern von alten Jagdtaschen ist mit modernen Ledermaterialien eine robuste Tasche entstanden, die sehr wohl mit viel Chique ausgestattet ist. Fettnubuk mit Velourartiger Oberfläche in 7 Farben macht die Tasche zu einem echten Highlight.
</p>
<p>
	Mit farblich passendem Gürtel und Hundehalsband („Die Bunten“), ist es möglich, sich selbst mit Handtasche und Gürtel, Hund mit Halsband oder Geschirr und der passenden Leine farblich abgestimmt auszustatten.
</p>
<p>
	Lieferbar mit Silber- oder Messingbeschlägen.<br>
	Trageriemen von 85&thinsp;cm bis 97&thinsp;cm verstellbar. Sonderlängen jederzeit möglich.
</p>
