<p>Die Kombination von Swarovski-Strass und Punzierung auf hochwertigem Blankleder geben diesen Halsbändern und Leinen eine sehr edle Optik.</p>
<p>Ausführung in schwarz, hell- und dunkelbraun, weich unterlegt mit buntem Polsterleder (schwarz, creme, cognac, türkis, grün, rot oder grau), mit Strass in weiss, türkis oder topaz.</p>
<p>Die Punzierungen variieren nach der Breite des Halsbandes bzw. der Leine.</p>
<p>Halsbänder in 19&thinsp;mm und 25&thinsp;mm, Leinen in 16&thinsp;mm oder 19&thinsp;mm, mit Handschlaufe oder verstellbar.</p>
<p>Passender Gürtel für die Hundebesitzerin ebenfalls lieferbar.</p>
