<p>Pflanzlich gegerbtes Blankleder wird für diese Halsbänder und Leinen verwendet. Bei dieser Art des Leders und der Gerbung können die Muster optimal herausgearbeitet werden.</p>
<p>Hellbraun, dunkelbraun oder schwarz.</p>
<p>Weich unterlegt mit buntem Polsterleder (schwarz, braun, grau, grün, cognac, creme, rot oder türkis) sind sie für den Hund angenehm zu tragen.</p>
<p>Die Breite der Halsbänder richtet sich auch nach den Mustern, 19&thinsp;mm 25&thinsp;mm oder 27&thinsp;mm. Die passenden Leinen in 16&thinsp;mm oder 19&thinsp;mm sind in denselben Farben und Mustern ebenfalls erhältlich.</p>
