{% extends 'html.html.twig' %}

{% block content %}

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
	<div class="container">
<main role="main" class="inner cover intro-container">
	<div class="row">
		<div class="col-sm-12">
			<h1><span class="h1-small d-none d-md-inline">Sattlermeisterin</span> Anouk Wächter<br><hr></h1>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12 d-none d-md-block text-center">
			Königsberg in Bayern
		</div>
		<div class="col-sm-12 d-block d-md-none text-center">
			Sattlermeisterin
		</div>
	</div>

</main>
	</div>


</div>


<section id="products">
	<div class="container">
		<div class="card-deck">
			<div class="card">
				<a href="menschen">
					<div class="card-img-top">
						<img class="img-fluid" src="img/placeholder.png" aria-hidden="true">
						<div class="flip-container initial">
							<div class="flipper">
								<div class="front">
									<img class="rounded-circle img-fluid" src="img/20170818-IMG_2038-2.jpg" alt="Lederwaren für Menschen">
								</div>
								<div class="back">
									<img class="rounded-circle img-fluid" src="img/20171205-IMG_4031_3.jpg" alt="Handtasche">
								</div>
							</div>
						</div>
					</div>
					<div class="card-body">
						<h5 class="card-title text-center">für Menschen</h5>
					</div>
				</a>
			</div>
			<div class="card">
				<a href="pferde">
				<div class="card-img-top">
					<img class="img-fluid" src="img/placeholder.png" aria-hidden="true">
					<div class="flip-container initial">
						<div class="flipper">
							<div class="front">
								<img class="rounded-circle img-fluid" src="img/180730104919-00004.jpg" alt="Lederwaren für Pferde">
							</div>
							<div class="back">
								<img class="rounded-circle img-fluid" src="img/093252.jpg" alt="Lederwaren für Pferde">
							</div>
						</div>
					</div>
				</div>
				<div class="card-body">
					<h5 class="card-title text-center">für Pferde</h5>
				</div>
				</a>
			</div>
			<div class="card">
				<a href="hunde">
					<div class="card-img-top">
						<img class="img-fluid" src="img/placeholder.png" aria-hidden="true">
						<div class="flip-container initial">
							<div class="flipper">
								<div class="front">
									<img class="rounded-circle img-fluid" src="img/180730104726-00003.jpg" alt="Lederwaren für Hunde">
								</div>
								<div class="back">
									<img class="img-fluid" src="img/089764.jpg" alt="Hundehalsbänder">
								</div>
							</div>
						</div>
					</div>
					<div class="card-body">
						<h5 class="card-title text-center">für Hunde</h5>
					</div>
				</a>
			</div>
		</div>
	</div>
</section>

<div class="row no-gutters">
	<div class="col-md-12"><img src="img/089771.jpg" class="img-fluid w-100"></div>
</div>

<section id="about">
	<div class="container">
		<h2>Sattlermeisterin<br class="d-inline d-sm-none"><span class="d-none d-sm-inline"> </span>Anouk Wächter</h2>
		<div class="row">
			<div class="col-md-5" style="overflow:hidden;"><img src="img/090615.jpg" class="img-fluid"></div>
			<div class="col-md-7 mt-3 mt-md-0">
				<p>
					Ich wurde 1967 in München geboren. Schon immer war ich von Tieren – vor allem von Pferden und
					Hunden – fasziniert. Mit 14 Jahren traf es mich wie ein Donnerschlag – ich werde Sattlerin!
					Für diesen Entschluss warf ich mit 16 die Schule über den Haufen und durfte in der
					wunderbaren Sattlerei Lindner meine Lehre absolvieren.<br>
					Es folgten verschiedene Anstellungen u.&thinsp;a. im Circus Krone und Reitsport Benz in
					München und schließlich die Meisterprüfung 1991.
				</p>
				<p>
					Nach zwei Jahren „Sattlerauszeit“ auf einem Pferdebetrieb, in denen ich Reit- und
					Pferdekenntnisse verbessern konnte, gründete ich meinen eigenen Betrieb. Einige Umzüge mit
					meiner Werkstatt waren nötig, doch seit 2016 bin ich nun in der wunderschönen Altstadt von
					Königsberg angekommen.
				</p>
			</div>
		</div>
	</div>
</section>

<div class="row no-gutters">
	<div class="col-md-12"><img src="img/werkstatt-1.jpg" class="img-fluid w-100"></div>
</div>

<section id="workshop">
	<div class="container">
		<h2>Die Werkstatt</h2>

		<div class="row">
			<div class="col-md-8 col-lg-7 order-1 mt-3 mt-md-0">
				<p>

					Hier werden alle Aufträge noch nach traditioneller Handwerkskunst ausgeführt.
					Ob aufwendige Handtaschen und Gürtel, Hunde- und Pferde-Ausrüstung oder einfach
					„nur“ Reparaturen.
				</p>
				<p>

					Selbstverständlich bin ich bemüht, nachhaltig hergestellte Materialien zu
					verwenden. Das hochwertige Leder beziehe ich fast ausschließlich von deutschen
					Gerbereien, die Ihre Rohhäute aus tiergerechten Betrieben beziehen.
				</p>
				<p>

					Polsterarbeiten – wie Stühle oder Eckbänke mit Leder oder Stoff zu beziehen oder
					Motorradsitze umzuarbeiten und beziehen – runden das Sortiment ab.
				</p>
				<p>
					Seit einigen Jahren bin ich zudem für namhafte Firmen in der Sattelentwicklung
					tätig.
				</p>
			</div>
			<div class="col-md-4 offset-lg-1 order-md-2">
				<div class="row">
					<div class="col-md-12" style="overflow:hidden;">
						<img src="img/090607.jpg" class="img-fluid">
					</div>
					<div class="col-md-12 mt-3 d-none d-md-block">
						<img src="img/090600.jpg" class="img-fluid">
					</div>
					<div class="col-md-12 mt-3 d-none d-md-block d-lg-none">
						<img src="img/090616.jpg" class="img-fluid">
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


<div class="row no-gutters">
	<div class="col-md-12"><img src="img/090611-2.jpg" class="img-fluid w-100"></div>
</div>

{% include 'contact.html.twig' %}

{% endblock %}
