{% extends 'html.html.twig' %}

{% block content %}

<div class="products">

	<h1>Produkte für Menschen</h1>

<section id="products-humans">
	<div class="container">

		<h2 class="text-center mt-sm-4">Für Menschen</h2>

		<div class="row">
			<div class="col-12">
				Inhalt in Bearbeitung.
			</div>
		</div>
	</div>
</section>

</div>

{% endblock %}
