{% extends 'html.html.twig' %}

{% block title %}Produkte für Pferde | {% endblock %}

{% block content %}

<div class="products">

	<h1>Produkte für Pferde</h1>

	<section id="products-horses">
		<div class="container">

			<h2 class="text-center mt-sm-4">Für Pferde</h2>

			<div class="row">

				<div class="col-12 mb-5">
					<div class="row">
						<div class="col-sm-6 col-md-6 d-flex align-items-center mb-3 mb-sm-0 offset-md-2 col-lg-5">
							<div>
								Um den Pferdesport mit gutem Gewissen ausführen zu können, ist
								es zwingend erforderlich, die Ausrüstung von Pferd und Reiter
								deren Ansprüchen so optimal wie möglich anzupassen.
							</div>
						</div>
						<div class="col-sm-6 col-md-4">
							<img class="img-fluid" src="img/pferde/093251.jpg">
						</div>
					</div>
				</div>

				<div class="col-12 mb-5">
					<div class="row">
						<div class="col-sm-6 col-md-6 d-flex align-items-center mb-3 mb-sm-0 col-lg-5">
							<div>
								Reiterliche Erfahrung und Kenntnisse von Anatomie und
								Biomechanik sind Voraussetzung, um den Sattel oder das Geschirr
								für das Pferd so angenehm wie möglich zu machen.
							</div>
						</div>
						<div class="col-sm-6 col-md-4 order-md-first offset-lg-1">
							<img class="img-fluid" src="img/pferde/IMG_2825.jpg">
						</div>
					</div>
				</div>

				<div class="col-12 mb-5">
					<div class="row">
						<div class="col-sm-6 col-md-6 d-flex align-items-center mb-3 mb-sm-0 offset-md-2 col-lg-5">
							<div>
								Anpassen von Sätteln aller Fabrikate und Polsterarbeiten vor Ort
								biete ich ebenso an wie Maßanfertigungen jeglicher Art rund ums
								Pferd.
							</div>
						</div>
						<div class="col-sm-6 col-md-4">
							<img class="img-fluid" src="img/pferde/093252.jpg">
						</div>
					</div>
				</div>

			</div>
		</div>
	</section>

</div>

{% endblock %}
